@import 'tailwindcss';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Remove all the other CSS since Tailwind will handle this */
:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
